There are lots of ways but here is how it worked for me in Angular 9!
First Create a .htaccess file Paste the following Code And Upload on your prod Server along with your disst prod files.

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
