:root {
  --primary-font-family: "Poppins", sans-serif;
}
body {
  margin: 0px auto;
  background-color: #f8f9fa;
  font-family: var(--primary-font-family);
  padding-top: 25px;
  max-width: 100vw;
}
.fixed-nav {
  margin: 0px auto;
  position: fixed;
  top: 0px;
  min-width: 100vw;
  background-color: white;
}
.navbar {
  margin: 0px auto;
  background-color: white;
  max-width: 1600px;
}
.logo {
  margin: 10px;
}
.navbar-links {
  display: flex;
  justify-content: space-between;
}
nav ul {
  margin: 15px;
}
nav li {
  font-size: 18px;
  display: inline;
  margin-right: 15px;
}
nav li a {
  text-decoration: none;
  color: black;
}
header {
  margin: 0px auto;
}
main,
footer {
  margin: 0px auto;
}
.container {
  background-color: white;
  max-width: 1100px;
  margin: 0px auto;
  border-radius: 8px;
}
.about-section {
  padding: 45px;
  border-radius: 20%;
  padding-left: 150px;
}
.hello-text {
  font-family: var(--primary-font-family);
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 20px;
}
h2 {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--primary-font-family);
  margin-bottom: 20px;
}
.contact-inf {
  text-decoration: underline;
}
.contacts {
  font-size: 16px;
}
.profile-summary {
  padding-left: 50px;
}
.links {
  text-decoration: none;
  color: #5551ff;
}

.built-with {
  font-size: 10px;
  margin-bottom: 10px;
}
.img-project {
  border: 0.1px solid #e3e3e4;
  border-radius: 7px;
}

.btn-primary {
  background-color: #5551ff;
  border: 1px solid #5551ff;
  color: white;
  font-size: 12px;
  margin-bottom: 30px;
}
.btn-primary:hover {
  background-color: white;
  border: 1px solid #5551ff;
  color: #5551ff;
}
.image-block {
  padding: 0px;
}
.img-fluid {
  border-radius: 5%;
}
#skills {
  margin: 0px auto;
  padding-left: 50px;
}
#skills > div:first-child {
  flex: 1 0 25%;
}
#skills > div:nth-child(2) {
  flex: 1 0 35%;
}
#skills > div:last-child {
  flex: 1 0 35%;
  padding-left: 30px;
}
.p-heading {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  font-weight: 500;
  padding: 20px 50px 20px 100px;
  margin-top: 40px;
}
.profile-heading {
  font-family: "Playfair Display", serif;
  font-size: 26px;
  font-weight: 500;
  padding: 0px 50px 20px 50px;
}
.projects-link {
  text-decoration: none;
}
#profile {
  text-align: justify;
  max-height: 200px;
}
#projects {
  max-height: 180px;
}
.years {
  padding-left: 90px;
}
.code-text {
  border: 4px solid #5551ff;
  padding: 30px;
  border-style: none none none solid;
  margin-left: 50px;
}
.footer {
  padding: 10px 50px 20px 50px;
  background-color: white;
  height: 80px;
  margin: 40px 0px 0px 0px;
}
#footer-author {
  opacity: 0.8;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#date {
  font-size: 14px;
}
.kata {
  padding-left: 50px;
}
.project-head {
  min-height: 100px;
}
.project-image {
  min-height: 165px;
  margin-bottom: 20px;
}

@media screen and (max-width: 320px) {
  body {
    max-width: 320px;
  }
  .logo {
    display: none;
  }

  nav li {
    font-size: 13px;
    display: inline;
    margin-right: 15px;
  }
  nav ul {
    margin: 0px auto;
    margin-left: 10px;
    padding-left: 5px;
    max-width: 300px;
  }
  .about-section {
    padding-left: 10px;
    padding-top: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  .hello-text {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .h1-about-author {
    font-size: 23px;
  }
}
