.built-with {
  font-size: 10px;
  margin: 0px auto;
  margin-bottom: 0px;
  max-width: 130px;
  min-height: 65px;
}
.img-project {
  border: 0.1px solid #e3e3e4;
  border-radius: 7px;
  cursor: pointer;
  transform: scale(0.9);
}
.img-project:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.btn-learn,
.submit-2 {
  background-color: #5551ff;
  border: 1px solid #5551ff;
  color: white;
  font-size: 12px;
  margin-bottom: 30px;
  padding: 10px 15px;
  border-radius: 9px;
  text-decoration: none;
}
.btn-learn:hover,
.submit-2:hover {
  background-color: white;
  border: 1px solid #5551ff;
  color: #5551ff;
}

#skills {
  display: flex;
  max-width: 90%;
  margin: 0px auto;
  column-gap: 40px;
}
#skills > :nth-child(1) {
  max-width: 30%;
  flex-wrap: nowrap;
}
#skills > :nth-child(2) {
  max-width: 40%;
  flex-wrap: nowrap;
}
#skills > :nth-child(3) {
  max-width: 30%;
  flex-wrap: nowrap;
}

.p-heading {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 500;
  padding: 50px 50px 20px 100px;
  margin-top: 40px;
}
tr {
  height: 40px;
}
.profile-heading {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 500;
  padding: 0px 50px 20px 50px;
}
.projects-link {
  text-decoration: none;
}
#profile {
  text-align: justify;
  max-height: fit-content;
}
#projects {
  max-height: 180px;
}
.projects-flex {
  display: flex;
  column-gap: 5px;
  row-gap: 45px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-item {
  padding: 5px;
  text-align: center;
  margin-bottom: 25px;
  width: fit-content;
}
.projects-heading {
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 500;
  padding: 20px 50px 20px 50px;
}
.experience-flex {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
#experience {
  background-color: #f8f9fa;
  padding-bottom: 30px;
}

.years,
.job {
  padding-left: 90px;
}
.job {
  margin-top: 15px;
}
.project-item img {
  max-width: 260px;
}

.code-text {
  border: 4px solid #5551ff;
  padding: 30px;
  border-style: none none none solid;
  margin-left: 50px;
}
#code {
  background-color: #f8f9fa;
}
.footer {
  padding-top: 30px;
  background-color: #f8f9fa;
  height: 80px;
}
#footer-author {
  opacity: 0.8;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
#date {
  font-size: 14px;
}
.kata {
  padding-left: 50px;
}
.project-head {
  min-height: 100px;
  margin: 0px auto;
}
.project-image {
  min-height: 165px;
  margin-bottom: 20px;
}
.code-text-320 {
  display: none;
}

.form-block {
  margin: 0px auto;
  background-color: white;
}
.form {
  max-width: 400px;
  margin: 0px auto;
}
.title {
  margin: 0px auto;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
  font-weight: 400;
  font-size: 24px;
  font-stretch: extra-condensed;
  font-family: 'Playfair Display', serif;
}
.name-2,
.email-2,
.message {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  padding: 8px;
  width: 390px;
  border: 0.3px solid rgb(198, 193, 193);
  border-radius: 2px;
  color: #dadadd;
}
.name-2:focus,
.email-2:focus,
.message:focus {
  outline: none;
  border: 1px solid rgb(198, 122, 248);
  box-shadow: 0 0 5px rgb(181, 122, 248);
}
.message {
  height: 80px;
}
.submit-2 {
  cursor: pointer;
}

.sticky-up {
  position: sticky;
  top: 400px;
  color: rgb(92, 56, 209);
  float: right;
  width: 70px;
}

.sticky-up img {
  width: 70px;
  right: -30px;
}
.sticky-up img:hover {
  transition-duration: 0.5s;
  transform: scale(1.4);
}

.certificate-onhover img {
  position: absolute;
  display: none;
  z-index: 99;
}
.hover-course:hover .certificate-onhover img {
  display: block;
  width: 25%;
}

.codewars-rank {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.codewars-rank img {
  max-width: 50%;
  border-radius: 8px;
}
.codewars-rank pre {
  max-width: 50%;
}
@media screen and (max-width: 1000px) {
  body {
    max-width: 1000px;
  }
  .projects-flex {
    column-gap: 13px;
    justify-content: center;
  }

  .project-item {
    padding: 5px;
    text-align: center;
    margin-bottom: 25px;
  }
  .project-item img {
    max-width: 160px;
  }
  .codewars-rank {
    margin: 0px auto;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
  }
  .codewars-rank img,
  .codewars-rank pre {
    margin: 0px auto;
  }
}
@media screen and (max-width: 640px) {
  body {
    max-width: 640px;
  }
  .navbar {
    display: none;
  }

  #burger-logo {
    display: block;
    position: fixed;
    width: 55px;
    right: 0;
    margin-right: 15px;
  }

  .burger-nav-ul {
    list-style: none;
    margin-bottom: 0px;
    margin-top: 16px;
    text-align: end;
    padding: 10px;
    background-color: #f1f1f1;
  }
  .burger-nav-ul li a {
    color: #333b41;
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
  }
  .burger-nav-ul li {
    margin-bottom: 15px;
    text-decoration: none;
  }

  .burger-content-show {
    display: block;
    position: fixed;
    width: 150px;
    top: 40px;
    right: 10px;
    height: 229px;
    background: #ffffff;
    z-index: 2;
    border-radius: 8px;
  }

  .about-section {
    padding-left: 15px;
    padding-top: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  .hello-text {
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 5px;
  }
  .contacts {
    text-align: left;
    font-size: 14px;
  }
  .h1-about-author {
    font-size: 30px;
    margin-top: 10px;
  }
  .image-block {
    margin-top: 50px;
  }
  .image-block img {
    width: 300px;
    border-radius: 8px;
    position: relative;
    left: -20px;
  }
  #skills {
    max-width: 640px;
    margin: 0px auto;
    flex-wrap: nowrap;
  }
  #skills > :nth-child(1) {
    max-width: 160px;
    flex-wrap: nowrap;
  }
  #skills > :nth-child(2) {
    max-width: 280px;
    flex-wrap: nowrap;
  }
  #skills > :nth-child(3) {
    max-width: 180px;
    flex-wrap: nowrap;
  }
  .p-heading {
    padding: 20px;
  }
  .years {
    padding-left: 20px;
  }
  .project-head {
    max-height: 10px;
  }
  .projects-flex {
    flex-direction: row;
    justify-content: center;
  }
  .project-head {
    max-height: 10px;
  }
  .project-image {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .project-item {
    width: 90%;
  }
  .project-item img {
    min-width: 260px;
  }
  .project-image {
    min-height: 100px;
    margin-bottom: 20px;
  }
  .btn-primary {
    font-size: 8px;
  }
}
@media screen and (max-width: 500px) {
  body {
    max-width: 320px;
  }
  header {
    height: 40px;
  }
  .logo {
    display: none;
  }
  .fixed-nav ul {
    display: flex;
    padding-left: 0px;
    margin: 0px auto;
  }
  .fixed-nav ul li {
    font-size: 14px;
    margin-right: 13px;
    margin-top: 9px;
  }
  .navbar {
    margin: 0px auto;
    background-color: white;
    max-width: 280px;
  }
  nav ul {
    margin: 15px;
  }
  .header-block {
    flex-direction: column;
    margin-top: 0px;
  }

  .hello-text {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 30px;
  }
  .about-section {
    max-width: 320px;
    padding: 0px;
    margin: 0px auto;
    padding-bottom: 10px;
  }
  .contacts {
    text-align: center;
    font-size: 14px;
    min-width: 300px;
  }
  .h1-about-author {
    font-size: 20px;
    margin-top: 10px;
  }
  .h2-about-author {
    font-size: 12px;
  }

  .image-block img {
    position: relative;
    top: -60px;
    width: 260px;
    left: 0px;
  }
  .image-block {
    margin-top: 0px;
  }
  .profile-summary {
    padding: 10px;
    font-size: 14px;
    min-height: 500px;
  }
  #skills {
    margin: 0px auto;
    flex-direction: column;
    min-width: 280px;
    padding: 10px;
    text-align: center;
  }
  #skills > div:first-child {
    min-width: 280px;
    list-style-position: inside;
  }
  #skills > div:first-child ul {
    padding-left: 0px;
    list-style: none;
  }

  #skills > div:nth-child(2) {
    min-width: 280px;
  }
  #skills > div:nth-child(2) ul {
    list-style: none;
  }
  #skills > div:last-child {
    min-width: 280px;
    padding-left: 0px;
  }
  #skills > div:last-child ul {
    list-style: none;
  }
  .profile-heading {
    padding: 10px;
  }
  .p-heading,
  .projects-heading {
    padding: 10px;
    text-align: center;
  }
  .job {
    padding-left: 15px;
  }
  .btn-primary {
    font-size: 8px;
  }
  .years {
    padding-left: 10px;
  }
  .projects-flex {
    flex-direction: column;
  }
  .projects-flex .project-head {
    min-height: 80px;
  }
  .code-text-320 {
    margin-left: 15px;
    padding-left: 15px;
    display: block;
    font-size: 10px;
    border-left: 1px solid #5551ff;
  }
  .code-text {
    display: none;
  }
  .kata {
    padding-left: 5px;
  }
  pre {
    white-space: pre-wrap;
  }
  footer {
    font-size: 12px;
  }
  .form-block {
    margin: 0px auto;
    background-color: white;
  }
  .form {
    max-width: 320px;
    margin: 0px auto;
    padding-left: 30px;
  }
  .title {
    margin: 0px auto;
    text-align: left;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
    font-stretch: extra-condensed;
  }
  .name-2,
  .email-2,
  .message {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 8px;
    width: 200px;
    border: 0.3px solid rgb(198, 193, 193);
    border-radius: 2px;
    color: #bbbbc5;
  }
  .name-2:focus,
  .email-2:focus,
  .message:focus {
    outline: none;
    border: 1px solid rgb(198, 122, 248);
    box-shadow: 0 0 5px rgb(181, 122, 248);
  }
  .message {
    height: 80px;
  }
  .submit-2 {
    cursor: pointer;
  }
}
