main {
  background-color: white;
  .container {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    border-radius: 8px;
    max-width: 1440px;
    gap: 4em;
    align-items: center;
    height: 80vh;
    .about-section {
      width: 30%;
      text-align: justify;
      .hello-text {
        font-size: 26px;
        font-weight: 500;
      }
      .about {
        font-size: 16px;
      }
    }
    .image-block {
      width: 30%;
      img {
        max-width: 100%;
        border-radius: 8px;
        opacity: 90%;
      }
    }
  }
}
