<footer>
  <div class="footer">
    <a
      class="footer_item"
      href="https://github.com/yuliaMasliak"
      target="_blank"
      title="GitHub"
    >
      <fa-icon
        [icon]="faGithub"
        size="lg"
      ></fa-icon>
    </a>
    <a
      class="footer_item"
      href="https://www.linkedin.com/in/yulia-masliak-b3a6ba7a/"
      target="_blank"
      title="LinkedIn"
    >
      <fa-icon
        [icon]="faLinkedinIn"
        size="lg"
      ></fa-icon>
    </a>
    <a
      class="footer_item"
      href="mailto:masliakyuliia@gmail.com"
      target="_blank"
      title="Gmail"
    >
      <fa-icon
        [icon]="faEnvelope"
        size="lg"
      ></fa-icon>
    </a>
    <a
      class="footer_item"
      href="tel:+380952805398"
      target="_blank"
      title="Phone"
    >
      <fa-icon
        [icon]="faPhone"
        size="lg"
      ></fa-icon>
    </a>
    <a
      class="footer_item"
      href="https://t.me/yuyuliaaa"
      target="_blank"
      title="Telegram"
    >
      <fa-icon
        [icon]="faTelegram"
        size="lg"
      ></fa-icon>
    </a>
  </div>
</footer>
